{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["*.d.ts"],
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "next": {
      "rootDir": "packages/dashboard"
    }
  },
  "parserOptions": {
    "project": "./packages/**/tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/strict",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": ["error"],
    "prefer-arrow-callback": ["error"],
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  }
}
