{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["*.d.ts", "dist/*"],
  "plugins": ["@typescript-eslint", "react-refresh", "prettier"],
  "settings": {
    "next": {
      "rootDir": "packages/dashboard"
    }
  },
  "parserOptions": {
    "project": ["./packages/**/tsconfig.json"]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-body-style": ["error"],
    "prefer-arrow-callback": ["error"],
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "files": "*.js",
      "rules": {
        "no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
        ]
      }
    }
  ]
}
