# files
*.env
**/next-env.d.ts

# directories
**/out
/certs
/target
**/.next
**/node_modules
**/.react-email
data/letsencrypt

# yarn
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
