# files
*.env
!example.env
**/next-env.d.ts

# directories
**/out
/certs
/target
staging
**/.next
**/node_modules
**/.react-email
data/letsencrypt
data/staging/conf.d

# yarn
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
