{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "importOrderTypeScriptVersion": "5.2.2",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^~/(.*)$",
    "",
    "^[.]"
  ],
  "tailwindFunctions": ["clsx", "cn", "twmerge", "cva"],
  "tailwindConfig": "packages/dashboard/tailwind.config.ts",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
